<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <title>Ocean Viking Medical Consultations</title>
</head>
<body>
    {% if first %}
    <div class="container p-5 has-text-centered">
      <div class="columns is-centered">
        <div class="column is-one-quarter-desktop">
          <div class="block my-3">
            <form action="/summary" method="POST">
              <div class="control my-5">
                <input class="button is-primary" type="submit" value="view summary" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="container p-0 has-text-centered">
      <label for="" class="label">or</label>
    </div>
    {% endif %}
    <div class="container p-5 has-text-centered">
      <div class="columns is-centered">
        <div class="column is-one-quarter-desktop">
          <div class="block my-3">
            <form action="/dataupdate" method="POST">
              <div class="field my-5">
                <label for="" class="label">insert bracelet number</label>
                <div class="control"><input class="input" type="text" name="bracelet" /></div>
              </div>
              <div class="control my-5">
                <input class="button is-primary" type="submit" value="submit" />
              </div>
            </form>
          </div>
        </div>
      </div>
      {% if no_data %}
        <div class="columns is-centered">
          <div class="column is-one-quarter-desktop">
            <div class="block my-3">
              <label for="" class="label">Please specify the bracelet number</label>
            </div>
          </div>
        </div>
      {% endif %}
      {% if not_found %}
        <div class="columns is-centered">
          <div class="column is-one-quarter-desktop">
            <div class="block my-3">
              <label for="" class="label">No data found for bracelet number {{ bracelet_number }}</label>
            </div>
          </div>
        </div>
      {% endif %}
      {% if info %}
        <div class="columns is-centered">
          <div class="column is-one-quarter-desktop">
            <div class="block my-3">
              <label for="" class="label" style="color:#EE3224">Patient information</label>
            </div>
            <div class="block my-3 p-3">
                {% for info_name, info_values in info.items() %}
                  <label for="" class="label">{{ info_name }}: {{ info_values }}</label>
                {% endfor %}
            </div>
          </div>
        </div>
      {% endif %}
      {% if consultations %}
        <div class="columns is-centered">
          <div class="column is-one-quarter-desktop">
            <div class="block my-3">
              <label for="" class="label" style="color:#EE3224">Consultations</label>
            </div>
            {% for consultation in consultations %}
              <div class="block my-3 p-3">
                {% for info_name, info_values in consultation.items() %}
                  <label for="" class="label">{{ info_name }}: {{ info_values }}</label>
                {% endfor %}
              </div>
            {% endfor %}
            <br>
            <div class="block my-3">
              {% for info_name, info_values in referral.items() %}
                <label for="" class="label" style="color:#EE3224">{{ info_name }} {{ info_values }}</label>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="columns is-centered">
          <div class="column is-one-quarter-desktop">
            <div class="block my-3">
              <form action= "/updatesubmission" method="POST">
                <label for="" class="label">Update referral status</label>
                <div class="field my-5">
                  <label for="" class="label">bracelet number</label>
                  <div class="control"><input class="input" type="text" name="bracelet" /></div>
                </div>
                <select name='referral'>
                  {% for referral in referral_states %}
                    <option value="{{ referral }}" >{{ referral }}</option>
                  {% endfor %}
                </select>
                <input type="submit" value="Submit" />
              </form>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
</body>
</html>