<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <style type="text/css">
    td {
      padding: 0 15px;
    }
  </style>
  <title>Ocean Viking Medical Consultations</title>
</head>
<body>
    <div class="container p-5 has-text-centered">
      <div class="columns is-centered">
        <div class="column is-one-third-desktop">
          <div class="block my-3">
            <label for="" class="label">Medical Consultations: {{ consultations }}</label>
          </div>
          <div class="block my-3">
            <label for="" class="label">Patients: {{ patients }}</label>
          </div>
        </div>
      </div>
      <div class="columns is-centered">
        <div class="column is-half-desktop">
          <div class="block my-3">
            <label for="" class="label" style="color:#EE3224">Morbidities</label>
            {% if patients > 0 %}
              <div class="table is-fullwidth">
                <table style="margin: 0px auto;">
                  <tr>
                    <th>Morbidity</th>
                    <th>Male</th>
                    <th>Female</th>
                    <th>Under 5y</th>
                    <th>Total</th>
                  </tr>
                  {% for morb_name, morb_count in morbidities.items() %}
                    <tr>
                      <td style="padding:5px 0 5px 0;">{{ morb_name }}</td>
                      <td style="padding:5px 20px 5px 20px;">{{ morb_count['male'] }}</td>
                      <td style="padding:5px 20px 5px 20px;">{{ morb_count['female'] }}</td>
                      <td style="padding:5px 40px 5px 40px;">{{ morb_count['u5'] }}</td>
                      <td style="padding:5px 20px 5px 20px;">{{ morb_count['total'] }}</td>
                    </tr>
                  {% endfor %}
                </table>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="columns is-centered">
        <div class="column is-one-quarter-desktop">
          <div class="block my-3">
            <label for="" class="label" style="color:#EE3224">Referrals</label>
              {% for morb_name, morb_count in referrals.items() %}
                <label for="" class="label">{{ morb_name }} : {{ morb_count }}</label>
              {% endfor %}
          </div>
          <form action= "/downloaddata" method="POST">
            <input type="submit" value="Download data of referrals" />
          </form>
        </div>
      </div>
    </div>
</body>
</html>